{% extends 'base.html.twig' %}

{% block body %}

    <!--/ Intro Single star /-->
    <section class="intro-single">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <div class="title-single-box">
                        <h1 class="title-single">Quienes somos</h1>
                        <h5>Conoce sobre nuestro trabajo!</h5>
                        <span class="color-text-a">
                            Nuestro equipo cuenta con más de 10 año de experiencia en la gestion de pisos,
                            pisos compartidos, habitaciones, servicios de aparthotel y apartamentos para estudiantes
                            Erasmus, Nacionales e Internacionales. Nuestra única intención, es brindar un trato
                            cercano y comprensivo a nuestros clientes. Es por eso que en nuestra ofertas encontraras:
                            <ul>
                                <li>  Habitaciones cerca de la principales universidades.</li>

                                <li>  Habitaciones cerca del metro, para poder llegar a tu universidad en cuentión de minutos.</li>

                                <li>  Habitaciones en lugares emblematicos de Valencia como el Barrio del Carmen o el estadio de Mestalla.</li>
                            </ul>

                            Lo más importante es que poseemos habitaciones para todos los gutos y todos los presupuestos.

                            {#FlatMate es una empresa creada desde 2010. Somos un grupo joven pero con una basta#}
                            {#experiencia en el campo de rentas de habitaciones y casas para vacacionar. Nuestro objetivo#}
                            {#es que usted se sienta comodo y logre obtener lo que busca.#}
                        </span>
                    </div>
                </div>
                {#<div class="col-md-12 col-lg-4" style="text-align: center;">#}
                    {#<span class="fa fa-users fa-10x"></span>#}
                    {#<nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">#}
                        {#<ol class="breadcrumb">#}
                            {#<li class="breadcrumb-item">#}
                                {#<a href="#">Home</a>#}
                            {#</li>#}
                            {#<li class="breadcrumb-item active" aria-current="page">#}
                                {#About#}
                            {#</li>#}
                        {#</ol>#}
                    {#</nav>#}
                {#</div>#}
            </div>
        </div>
    </section>
    <!--/ Intro Single End /-->

    <!--/ About Star /-->
    <section class="section-about">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="about-img-box">
                        <img src="assets/img/about/banner/slide-about-1.jpg" alt="" class="img-fluid">
                    </div>
                    <div class="sinse-box">
                        <h3 class="sinse-title">HelloFlatMate
                            <span></span>
                            <br> Desde 2006</h3>
                        <p style="color: white;"> Exclusividad & Confort</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/ About End /-->

    <!--/ Reserva /-->
    {#<section class="margin-single-line">#}
        {#<div class="container">#}
            {#<div class="row">#}
                {#<div class="col-md-12 col-lg-8">#}
                    {#<div class="title-single-box">#}
                        {#<h1 class="title-single">Como Reservar</h1>#}
                        {#<h5>Reserve ahora!</h5>#}
                        {#<span class="color-text-a">#}
                           {#<p> - Disponibilidad: Toda la informacion sobre las habitaciones y pisos, aparece disponible en nuetra pagina web.#}
                               {#Si tiene cualquier duda, puedes ponerse en contacto con nosotros.</p>#}

                           {#<p> - Reservar: Presiones el boton Reservar y complete un formulario con su información personal. </p>#}

                           {#<p> - Aeropuerto: Ofrecemos servicio de recogida al aeropuerto. No mantendremos en contacto para acordar fecha y hora de recogida.</p>#}

                           {#<p> - Apartamento: Si no lo recogemos en el aeropuerto, nos veremos en el piso a la hora y fecha acordada. Le entregaremos las llaves,#}
                                {#le mostraremos el piso y luego firmamos el contrato.</p>#}

                           {#<p> - Observaciones : Puede visitar la habitacion antes de reservar, siempre que no halla huspedes hospedados. El pago se#}
                                {#realizara una vez que se halla firmado el contrato.</p>#}
                        {#</span>#}
                    {#</div>#}
                {#</div>#}
                {#<div class="col-md-12 col-lg-4" style="text-align: center;">#}
                    {#<span class="fa fa-bed fa-10x"></span>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    {#</section>#}

    {#<!--/ Reserva /-->#}
    {#<section class="margin-single-line">#}
        {#<div class="container">#}
            {#<div class="row">#}
                {#<div class="col-md-12 col-lg-8">#}
                    {#<div class="title-single-box">#}
                        {#<h1 class="title-single">Orientacion</h1>#}
                        {#<h5>Preguntanos, queremos ayudarte!</h5>#}
                        {#<span class="color-text-a">#}
                            {#Si es una ciudad nueva para tí y no sabes como moverte en ella, preguntanos, estamos#}
                            {#para ayudarte. No solo te ofrecemos alojamiento, te podemos orientar los primeros días#}
                            {#en las gestiones que necesites hacer. También te podemos recomendar lugares como restaurantes,#}
                            {#bares, museos, monumentos, plazas historicas, entre otros.#}

                        {#</span>#}
                    {#</div>#}
                {#</div>#}
                {#<div class="col-md-12 col-lg-4" style="text-align: center;">#}
                    {#<span class="fa fa-question-circle-o fa-10x"></span>#}

                {#</div>#}
            {#</div>#}
        {#</div>#}
    {#</section>#}
    <!--/ Intro Single End /-->

    <!--/ Team Star /-->
    <section class="section-agents section-t8">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="title-wrap d-flex justify-content-between">
                        <div class="title-box">
                            <h2 class="title-a">Nuestro Equipo</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="card-box-d">
                        <div class="card-img-d">
                            <img src="assets/img/about/team/agent-6.jpg" alt="" class="img-d img-fluid">
                        </div>
                        <div class="card-overlay card-overlay-hover">
                            <div class="card-header-d">
                                <div class="card-title-d align-self-center">
                                    <h3 class="title-d" style="margin-top: 35px; margin-bottom: 0px">
                                        Alberto Apellido
                                    </h3>
                                </div>
                            </div>
                            <div class="card-body-d">
                                <p class="content-d color-text-a">
                                    CEO - Gerente
                                </p>
                                <div class="info-agents color-a">
                                    <span><i class="fa fa-phone">&nbsp; </i>+54 356 945234</span>
                                    <br>
                                    <span> <i class="fa fa-envelope">&nbsp; </i> agents@example.com</span>
                                </div>
                            </div>
                            {#<div class="card-footer-d">#}
                                {#<div class="socials-footer d-flex justify-content-center">#}
                                    {#<ul class="list-inline">#}
                                        {#<li class="list-inline-item">#}
                                            {#<a href="#" class="link-one">#}
                                                {#<i class="fa fa-facebook" aria-hidden="true"></i>#}
                                            {#</a>#}
                                        {#</li>#}
                                        {#<li class="list-inline-item">#}
                                            {#<a href="#" class="link-one">#}
                                                {#<i class="fa fa-twitter" aria-hidden="true"></i>#}
                                            {#</a>#}
                                        {#</li>#}
                                        {#<li class="list-inline-item">#}
                                            {#<a href="#" class="link-one">#}
                                                {#<i class="fa fa-instagram" aria-hidden="true"></i>#}
                                            {#</a>#}
                                        {#</li>#}
                                        {#<li class="list-inline-item">#}
                                            {#<a href="#" class="link-one">#}
                                                {#<i class="fa fa-pinterest-p" aria-hidden="true"></i>#}
                                            {#</a>#}
                                        {#</li>#}
                                        {#<li class="list-inline-item">#}
                                            {#<a href="#" class="link-one">#}
                                                {#<i class="fa fa-dribbble" aria-hidden="true"></i>#}
                                            {#</a>#}
                                        {#</li>#}
                                    {#</ul>#}
                                {#</div>#}
                            {#</div>#}
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card-box-d">
                        <div class="card-img-d">
                            <img src="assets/img/about/team/agent-7.jpg" alt="" class="img-d img-fluid">
                        </div>
                        <div class="card-overlay card-overlay-hover">
                            <div class="card-header-d">
                                <div class="card-title-d align-self-center">
                                    <h3 class="title-d" style="margin-top: 35px; margin-bottom: 0px">
                                        Móncica Apellido
                                    </h3>
                                </div>
                            </div>
                            <div class="card-body-d">
                                <p class="content-d color-text-a">
                                    Directora de Agencia.
                                </p>
                                <div class="info-agents color-a">
                                    <span><i class="fa fa-phone">&nbsp; </i>+54 356 945234</span>
                                    <br>
                                    <span> <i class="fa fa-envelope">&nbsp; </i> agents@example.com</span>
                                </div>
                            </div>
                            {#<div class="card-footer-d">#}
                                {#<div class="socials-footer d-flex justify-content-center">#}
                                    {#<ul class="list-inline">#}
                                        {#<li class="list-inline-item">#}
                                            {#<a href="#" class="link-one">#}
                                                {#<i class="fa fa-facebook" aria-hidden="true"></i>#}
                                            {#</a>#}
                                        {#</li>#}
                                        {#<li class="list-inline-item">#}
                                            {#<a href="#" class="link-one">#}
                                                {#<i class="fa fa-twitter" aria-hidden="true"></i>#}
                                            {#</a>#}
                                        {#</li>#}
                                        {#<li class="list-inline-item">#}
                                            {#<a href="#" class="link-one">#}
                                                {#<i class="fa fa-instagram" aria-hidden="true"></i>#}
                                            {#</a>#}
                                        {#</li>#}
                                        {#<li class="list-inline-item">#}
                                            {#<a href="#" class="link-one">#}
                                                {#<i class="fa fa-pinterest-p" aria-hidden="true"></i>#}
                                            {#</a>#}
                                        {#</li>#}
                                        {#<li class="list-inline-item">#}
                                            {#<a href="#" class="link-one">#}
                                                {#<i class="fa fa-dribbble" aria-hidden="true"></i>#}
                                            {#</a>#}
                                        {#</li>#}
                                    {#</ul>#}
                                {#</div>#}
                            {#</div>#}
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card-box-d">
                        <div class="card-img-d">
                            <img src="assets/img/about/team/agent-6.jpg" alt="" class="img-d img-fluid">
                        </div>
                        <div class="card-overlay card-overlay-hover">
                            <div class="card-header-d">
                                <div class="card-title-d align-self-center">
                                    <h3 class="title-d" style="margin-top: 35px; margin-bottom: 0px">
                                        JuanMa
                                        Cascada
                                    </h3>
                                </div>
                            </div>
                            <div class="card-body-d">
                                <p class="content-d color-text-a">
                                    Jefe de Contabilidad
                                </p>
                                <div class="info-agents color-a">
                                    <span><i class="fa fa-phone">&nbsp; </i>+54 356 945234</span>
                                    <br>
                                    <span> <i class="fa fa-envelope">&nbsp; </i> agents@example.com</span>
                                </div>
                            </div>
                            {#<div class="card-footer-d">#}
                                {#<div class="socials-footer d-flex justify-content-center">#}
                                    {#<ul class="list-inline">#}
                                        {#<li class="list-inline-item">#}
                                            {#<a href="#" class="link-one">#}
                                                {#<i class="fa fa-facebook" aria-hidden="true"></i>#}
                                            {#</a>#}
                                        {#</li>#}
                                        {#<li class="list-inline-item">#}
                                            {#<a href="#" class="link-one">#}
                                                {#<i class="fa fa-twitter" aria-hidden="true"></i>#}
                                            {#</a>#}
                                        {#</li>#}
                                        {#<li class="list-inline-item">#}
                                            {#<a href="#" class="link-one">#}
                                                {#<i class="fa fa-instagram" aria-hidden="true"></i>#}
                                            {#</a>#}
                                        {#</li>#}
                                        {#<li class="list-inline-item">#}
                                            {#<a href="#" class="link-one">#}
                                                {#<i class="fa fa-pinterest-p" aria-hidden="true"></i>#}
                                            {#</a>#}
                                        {#</li>#}
                                        {#<li class="list-inline-item">#}
                                            {#<a href="#" class="link-one">#}
                                                {#<i class="fa fa-dribbble" aria-hidden="true"></i>#}
                                            {#</a>#}
                                        {#</li>#}
                                    {#</ul>#}
                                {#</div>#}
                            {#</div>#}
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card-box-d">
                        <div class="card-img-d">
                            <img src="assets/img/about/team/agent-6.jpg" alt="" class="img-d img-fluid">
                        </div>
                        <div class="card-overlay card-overlay-hover">
                            <div class="card-header-d">
                                <div class="card-title-d align-self-center">
                                    <h3 class="title-d" style="margin-top: 35px; margin-bottom: 0px;">
                                        Adolfo
                                             Cascada
                                    </h3>
                                </div>
                            </div>
                            <div class="card-body-d">
                                <p class="content-d color-text-a">
                                    Dpto. Contabilidad
                                </p>
                                <div class="info-agents color-a">
                                    <span><i class="fa fa-phone">&nbsp; </i>+54 356 945234</span>
                                    <br>
                                    <span> <i class="fa fa-envelope">&nbsp; </i> agents@example.com</span>
                                </div>
                            </div>
                            {#<div class="card-footer-d">#}
                                {#<div class="socials-footer d-flex justify-content-center">#}
                                    {#<ul class="list-inline">#}
                                        {#<li class="list-inline-item">#}
                                            {#<a href="#" class="link-one">#}
                                                {#<i class="fa fa-facebook" aria-hidden="true"></i>#}
                                            {#</a>#}
                                        {#</li>#}
                                        {#<li class="list-inline-item">#}
                                            {#<a href="#" class="link-one">#}
                                                {#<i class="fa fa-twitter" aria-hidden="true"></i>#}
                                            {#</a>#}
                                        {#</li>#}
                                        {#<li class="list-inline-item">#}
                                            {#<a href="#" class="link-one">#}
                                                {#<i class="fa fa-instagram" aria-hidden="true"></i>#}
                                            {#</a>#}
                                        {#</li>#}
                                        {#<li class="list-inline-item">#}
                                            {#<a href="#" class="link-one">#}
                                                {#<i class="fa fa-pinterest-p" aria-hidden="true"></i>#}
                                            {#</a>#}
                                        {#</li>#}
                                        {#<li class="list-inline-item">#}
                                        {#<a href="#" class="link-one">#}
                                        {#<i class="fa fa-dribbble" aria-hidden="true"></i>#}
                                        {#</a>#}
                                        {#</li>#}
                                    {#</ul>#}
                                {#</div>#}
                            {#</div>#}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/ Team End /-->

{% endblock %}
