{% extends 'base.html.twig' %}

{% block body %}

    <!--/ Intro Single star /-->
    <section class="intro-single">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <div class="title-single-box">
                        <h1 class="title-single">Como funcionamos</h1>
                        <h5>Descubre más sobre nuestros servicios</h5>
                        <span class="color-text-a">
                            Si estás buscando las mejores soluciones de alojamiento en Valencia, Helloflatmate
                            ofrece una amplia gama de apartamento compartidos y privado, habitaciones individuales
                            y habitaciones dobles para estudiantes nacionales, internacionels y erasmus.
                        </span>
                    </div>
                </div>

                <!--Inicio -- Tipos de Alojamientos-->

                <div class="col-md-12 col-lg-8">
                    <div class="title-single-box">
                        <h1 class="title-single">Tipo de Alojamientos</h1>
                        <h5>Descubre más sobre nuestros alojamiento en Valencia</h5>
                    </div>
                </div>

                <div class="col-md-12 offset-md-1">
                    <ul class="nav nav-pills-a nav-pills mb-3" id="pills-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="pills-map-tab" data-toggle="pill" href="#hellorooms" role="tab" aria-controls="pills-map"
                               aria-selected="false">HELLOROOMS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " id="pills-video-tab" data-toggle="pill" href="#helloowners" role="tab"
                               aria-controls="pills-video" aria-selected="true">HELLOOWNERS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="pills-plans-tab" data-toggle="pill" href="#helloflats" role="tab" aria-controls="pills-plans"
                               aria-selected="false">HELLOFLATS</a>
                        </li>

                    </ul>
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="hellorooms" role="tabpanel" aria-labelledby="pills-map-tab">
                            <span>
                                <p>- Atención personal 8H / día, de Lunes a Viernes.</p>
                                <p>- Gestión de servicios para que no tenga nada de que preocuparse.</p>
                                <p>- Visita mensual al piso.</p>
                                <p>- Depósito seguro y contrato flexible.</p>
                                <p>- Control de calidad dos veces al año para evitar problemas con tu habitación.</p>
                                <p>- Wifi no incluido.</p>
                                <p>- Cuota de gestión de contrato: 90 € + IVA.</p>
                            </span>
                        </div>
                        <div class="tab-pane fade show" id="helloowners" role="tabpanel" aria-labelledby="pills-video-tab">
                            <span>
                                <p>
                                    Helloflatmate te ofrece pisos administrados por los propietarios, pero solo para estudiantes.
                                    Hemos estado trabajando con propietarios seleccionados durante muchos años y podemos
                                    garantizarle que son personas honestas, con el único proposito de complacer a los estudiantes
                                    alquilando habitaciones en pisos muy bonitos. El propietario garantiza que todo tus companeros
                                    de piso serán estudiantes como tú.
                                </p>
                                <p>- Cuota de gestion de contrato: 90 € + IVA.</p>
                            </span>
                        </div>

                        <div class="tab-pane fade show" id="helloflats" role="tabpanel" aria-labelledby="pills-video-tab">
                            <span>
                                <p>
                                    Apartamentos completamentes amueblados para la máxima privacidad y comodidad. La fórmula
                                    de alquiler a largo plazo, hace que éste apartamento sea el más adecuado para estudiantes
                                    nacionales, internacionales y erasmus que buscan un piso privado.
                                </p>
                                <p>
                                    El depósito requerido equivale a un mes de alquiler.
                                </p>
                            </span>
                        </div>

                    </div>
                </div>

                <!--Final -- Tipos de Alojamientos-->

                <!--Inicio -- Terminos y Condiciones-->
                <div class="col-md-12 col-lg-8">
                    <div class="title-single-box">
                        <h1 class="title-single">Términos y Condiciones</h1>
                        <h5>Tour Rápido</h5>
                    </div>
                </div>

                <div class="col-md-12 offset-md-1">
                    <ul class="nav nav-pills-a nav-pills mb-3" id="pills-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="pills-map-tab" data-toggle="pill" href="#contract" role="tab" aria-controls="pills-map"
                               aria-selected="false">Contratos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " id="pills-video-tab" data-toggle="pill" href="#deposit" role="tab"
                               aria-controls="pills-video" aria-selected="true">Fianza</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="pills-plans-tab" data-toggle="pill" href="#attendance" role="tab" aria-controls="pills-plans"
                               aria-selected="false">Asistencia</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="pills-plans-tab" data-toggle="pill" href="#maintenance" role="tab" aria-controls="pills-plans"
                               aria-selected="false">Mantenimiento</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="pills-plans-tab" data-toggle="pill" href="#cleaning" role="tab" aria-controls="pills-plans"
                               aria-selected="false">Limpieza</a>
                        </li>

                    </ul>
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="contract" role="tabpanel" aria-labelledby="pills-map-tab">
                            <span>
                                <p>- Todas las habitaciones tienen el mismo contrato transparente sin
                                    términos y condiciones ocultos.</p>
                                <p>- Hay contratos de 5, 10, 11 meses que se adaptan perfectamente al
                                    programa Erasmus Plus.</p>
                                <p>- Si buscas una habitación por menos de 5 meses, preguntenos sobre
                                    la disponibilidad.</p>
                            </span>
                        </div>

                        <div class="tab-pane fade show" id="deposit" role="tabpanel" aria-labelledby="pills-video-tab">
                            <span>
                                <p>- Hemos estado trabajando durante más de 8 años con los mejores propietarios.</p>
                                <p>- Todos son cuidadosamente seleccionados y nunca tendrás que preocuparte, tu
                                    depósito estara siempre a salvo y en buenas manos.</p>
                                <p>- Los depósitos se reembolsan al final de la estancia de acuerdo con los
                                    términos contractuales. </p>
                            </span>
                        </div>

                        <div class="tab-pane fade show" id="attendance" role="tabpanel" aria-labelledby="pills-video-tab">
                            <span>
                                <p>- Puedes plantear cualquier duda o pregunta que desees realizar a Helloflatmate
                                a través del formulario de nuestra web.</p>
                                <p>- Estamos disponible de lunes a viernes de 10 a 18 h.</p>
                                <p>- Puedes también contactarnos por email en rooms@helloflatmate.com y
                                    estaremos encantados de ayudarte. </p>
                            </span>
                        </div>

                        <div class="tab-pane fade show" id="maintenance" role="tabpanel" aria-labelledby="pills-video-tab">
                            <span>
                                <p>- Helloflatmate tiene su propio servicio de mantenimiento.</p>
                                <p>- Si hay algo que no funciona, puedes contar con una asistencia rápida. Debes
                                    saber que las reparaciones estan bajo la responsabilidad de los propietarios
                                    o Helloflatmate.</p>
                                <p>- El Servicio de Mantenimiento se le cobrara al propietario o a Helloflatmate. </p>
                            </span>
                        </div>

                        <div class="tab-pane fade show" id="cleaning" role="tabpanel" aria-labelledby="pills-video-tab">
                            <span>
                                <p>- Hay diferentes opciones para el servicio de limpieza.</p>
                                <p>- Puedes solicitar la limpieza semanal, cada 15 días o un servicio de limpieza
                                    mensual para las areas comunes del piso.</p>
                                <p>- Asegurese de pedír más informacion a tu agente y acordar un horario para la
                                    limpieza general. </p>
                            </span>
                        </div>

                    </div>
                </div>
                <!--Final  -- Terminos y Condiciones-->
            </div>
        </div>
    </section>
    <!--/ Intro Single End /-->

{% endblock %}

