{% extends 'base.html.twig' %}

{% block body %}

    <!--/ Intro Single star /-->
    <section class="intro-single">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <div class="title-single-box">
                        <h1 class="title-single">Aviso Legal</h1>

                        <span class="color-text-a">
                            <p>Titular: HELLO FLAT MATE S.L</p>
                            <p>C.I.F: B98358963</p>
                            <p>Dirección: C/GARRIGUES 2, PTA 14 46001 VALENCIA</p>
                            <p>Contacto: info@helloflatmate.com</p>
                            <p>Datos registrales: Registro Mercantil de la localidad de Valencia, en el tomo 9339, folio 108, hoja V-144134, inscripcion 1</p>

                            <p> <b>HelloFlatMate</b> no puede asumir ninguna responsabilidad derivada del uso incorrecto, inapropiado o ilícito de la información
                                aparecidas en las páginas de intenet de <b>Helloflatmate</b>. Con los límites establecidos en la ley, <b>Helloflatmate</b> no
                                asume ninguna responsabilidad derivada de la falta de veracidad, integridad, actualización y precisión de los datos o
                                información que se contiene en sus páginas de internet.
                            </p>

                            <p>
                                Los contenido e iformación de las páginas de interne de <b>HELLOFALT MAETE</b> se obtiene de los colaboradores de otras fuentes
                                de noticias. Sin embargo, los contenidos e información, no vinculan a <b>Helloflatmate</b> ni constituye opiniones, consejos o
                                asesoramiento legal de ningún tipo, pues se trata meramente de un servicio ofrecido con carácter informativo y divulgativo.
                            </p>

                            <p>
                                Las página de internet de <b>Helloflatmate</b> pueden contener enlaces(link) a otras páginas de terceras partes que <b>Helloflatmate</b>
                                no puede controlar. Por lo tanto, <b>HelloFatmate</b> no se puede asumir responsabilidades por el conternido que puedan aparecer en páginas
                                de terceros.
                            </p>

                            <p>Todos los textos son propiedad de sus autores y estan protegidos por la Ley de Propieda Intelectual. Cualquier acto de transmisión, distribución,
                                cesión, reproducción, almacenamiento o comunicación pública, total o parcial, debe contar con el consentimiento expreso de <b>Helloflatmate</b>.
                                Todas las marcas son propiedad de sus respectivos propietarios.
                            </p>

                            <p>
                                Asi mismo, para acceder a algunos de los servicios que se ofrecen a traves del website, debera proporcionar algunos datos de caracter personal.
                                En cumplimiento de lo establecido en la Ley Organic 15/1999, de 13 de diciembre, de Proteccion de Datos de Carácter Personal, le informamos que,
                                mediante la cumplimentación de los presentes formularios, sus datos personales quedadran incorporado y serán tratado en los fichero de
                                <b>HELLo FLAT MATE S.L</b> con el fin de poderle prestar y ofrecer nuestos servicios, así como para informarle de las mejoras del sitio Web.
                                Así mismo, le informamos de la posiblidad de que ejerza los derechas de acceso, rectificación, cancelación y oposición de sus datos de cáracter
                                personal, en info@helloflatmate.com.
                            </p>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/ Intro Single End /-->

{% endblock %}

